<!DOCTYPE html>
<html>
  <head>
    <title></title>
  <link href="{{url_for('static', filename='img/favicon.ico')}}" rel="icon" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
  </head>

  <body>
    <div id="top-bar">
      <div class="box-1 img">
        <a href="/"><img class="responsive" src="{{url_for('static', filename='img/nba_logos/nba_jw.png')}}"></a>
        <a href="/"><div class="centered">Reset It</div></a>
      </div>
      <div class="text box-8">
        <p>This web application is a lightweight scrapping app that retreives current NBA team stats and runs it though a pre-trained supervised machine learning algorithm, the results are predicted end of season team win values. The model is most accurate when executed at the end of the regular season. <strong>Click on the button to the right to start the app ** might take sometime to scrape the data **</strong></p>
        <p>As an added bonus I am including a live streaming scoreboard. <strong>Click on the toggle-it button to view live game data</strong></p>
      </div>
      <div class="box-1 btn">
        <form>
          <button id="predict-btn" name="playoff-year" value="{{ current }}" onclick="reloadP()">Predict It</button>
        </form>
      </div>
    </div>
    <div id="slider">
      <div id="jumbotron">
        <div id="marquee">
          <p>No Current Games: This application is still under development.</p>
        </div>
      </div>
    </div>
    <div id="button-container">
      <button onclick="scoreboard('slider', 'opened')">Toggle It</button>
    </div>
    <div id="ml-container">
      {{ table|safe }}
    </div>
    <div id="footer">
      <p>created by <a href="https://www.alexbuitron.com" target="_blank">alex's brain</a></p>
    </div>

    <script src="{{url_for('static', filename='js/script.js')}}" type="text/javascript"></script>
  </body>
</html>
